streamlit
streamlit-cookies-manager==0.2.0
streamlit-option-menu==0.3.13
streamlit-extras==0.4.3
st-btn-select==0.1.2
arabic-reshaper==3.0.0
youtube-transcript-api==0.6.2
kivy==2.3.0
dnspython==2.6.1
requests==2.31.0
pygame==2.4.0
stripe==9.9.0
extra-streamlit-components==0.1.70
